/* apply a natural box layout model to all elements */
* {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

/* reset rules */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
   display: block;
}

body {
   line-height: 1;
   width: 1000px;
   background: rgb(205, 203, 203);
   margin: 0 auto;
   font-family: Arial, Helvetica, sans-serif; 
}

ol, ul {
   list-style: none;
}


/* Styles for this Project */

html {
   font-family: Verdana, Geneva, sans-serif;
   font-size: 12px;
   color: rgb(101, 101, 101);
}

body {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;  

   background: rgb(205, 203, 203);
   max-width: 1020px;
   min-width: 420px;
   margin: 0px auto;
}

p {
   font-size: 1.2em;
   line-height: 1.4em;
   margin: 15px;
}


/* Header Styles */

body > header {
   width: 100%;
}

body > header > img {
   display: block;
   width: 100%;
   
}

/*Footer style */
body > footer {
   margin: auto;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-weight: bold;
}

.container {
    display: flex; /* Use flexbox */
    background: white;
 }

/*Billing and Shipping Information*/
nav#billship {
    display: block;
    font-size: 3em;
    letter-spacing: 0.15em;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    font-weight: bold;
    color: rgb(57, 44, 28);
}

nav#billship h1 {
    text-align: center; /* Center align the h1 */
    margin: auto;
}


/* Billing and Delivery Form Styles */


section#billingSection, section#deliverySection {
   -webkit-flex: 1 1 550px;
   flex: 1 1 550px;
   border-left: 4px double rgb(101, 101, 101);   
   min-height: 300px;
   font-size: 14px;
}

section#billingSection p#footnote, section#deliverySection p#footnote {
   font-size: 1em;
   text-align: left;
   margin: 0px 10px 20px 140px;
}

section#billingSection h1, section#deliverySection h1 {
   text-align: left;
   font-size: 2em;
   letter-spacing: 0.15em;
   margin: 20px 0px;
   margin-left: 15px;
   font-weight: normal;
   color: rgb(57, 44, 28);
}

form#billAddress fieldset, form#delAddress fieldset  {
   border: none;
}



form#billAddress legend, form#delAddress legend {
   font-size: 1.3em;
   padding: 8px;
   width: 80%;
   text-align: left;
   margin-left: 50px;
   margin-bottom: 20px;
   color: rgb(57, 44, 28);
}


/* Input and Label Styles */

form#billAddress label, form#delAddress label {
   display: block;
   float: left;
   clear: left;
   font-size: 1em;
   margin-bottom: 25px;
   margin-right: 10px;
   width: 140px;
   text-align: right;
   color: rgb(57, 44, 28);
}


form#billAddress input, form#billAddress select, form#delAddress input, form#delAddress select {
   display: flex;
   float: left;
   box-shadow: 0px 0px 15px white;
   width: 250px;
}

fieldset#checkbox {
    display: flex;
    /*align-items: center;*/
   
}

fieldset#checkbox input[type="checkbox"] {
   display:flex;
   margin-left: 150px;
   margin-right: 0px;
   width: min-content;
}

fieldset#checkbox p {
   display:flex;
   margin-inline-start: left;
   font-size: medium;
   font-style: italic;
   margin-right: 10px;
}

/* Radio Button Styles */

form#billAddress label.cardLabel {
   display: inline-block;
   float: none;
   width: auto;
   text-align: left;
   margin-top: -10px;
}

form#billAddress fieldset#cards {
   display: block;
   float: left; 
}

form#billAddress fieldset#cards > span {
   display: inline-block;
   margin-left: 8px;
   width: 50px;
}



form#billAddress input[type='radio'] {
   display: inline-block;
   width: auto;
   float: none;
   clear: none;
}



span#separator {
   width: 30px;
   text-align: center;
   display: block;
   float: left;
}

form#billAddress input#cvc {
   width: 3em;
}

form#billAddress input#subButton1, form#delAddress input#subButton1 {
   display: block;
   width: 180px;
   height: 35px;
   margin: 15px 0px 10px 200px;
   background-color: rgba(232, 218, 201, 0.8);
   font-size: 1.3em;
   border-radius: 20px;
   float: none;
}

/* Valid and Invalid Styles */

input:invalid, input:focus:invalid, select:invalid, select:focus:invalid {
   outline: none;
   background-color: rgba(221,147,148,0.2);
 }

input:valid, input:focus:valid, select:valid, select:focus:valid {
   outline: none;
   background-color: none;
}

